-# This file is app/views/semesters/home.html.haml
!!! 5

- content_for :title, "#{@semester.name}"

.hero-unit
  %h1
    = @semester.name
  %p.lead
    = @semester.program.long_name
    %br
    #{@semester.start_date} - #{@semester.end_date}
.row
  .span2.wellbtn
    = link_to_section :courses_section, @semester do
      .well
        %h4
          = section_name :courses_section
        %h1
          = @semester.courses.count
  .span2.wellbtn
    = link_to_section :instructors_section, @semester do
      .well
        %h4
          = section_name :instructors_section
        %h1
          = @semester.instructors.count
  .span2.wellbtn
    = link_to_section :classrooms_section, @semester do
      .well
        %h4
          Rooms
        %h1
          = @semester.classrooms.count
  .span2.offset2.wellbtn
    = link_to_section :students_section, @semester do
      .well
        %h4
          = section_name :students_section
        %h1
          = @semester.students.count
  .span2.wellbtn
    = link_to_section :enrollments_section, @semester do
      .well
        %h4
          = section_name :enrollments_section
        %h1
          = @semester.enrollments.enrolled.count
      