-# This file is app/views/semesters/index.html.haml
!!! 5

%html
	%head
		%title
			Session List
			= stylesheet_link_tag("frontpage")
			= javascript_include_tag("application")
	%body
		%div#container
			%ul.nav.nav-tabs
				%li.active
					= link_to "Home", semesters_path
				%li
					= link_to "Sessions", new_semester_path
				%li
					= link_to "Instructors", new_semester_path
				%li
					= link_to "Classes", new_semester_path
				%li
					= link_to "Students", new_semester_path
				%li
					= link_to "Classrooms", new_semester_path
			%h1.span6.offset3
				Jefferson PTA Sessions
			%div.span6.offset3
				%table{:class => "table table-striped"}
					%thead
						%tr
							%td Current and Previous Sessions:
							%td.cell_right 
								= link_to "Create New Session", new_semester_path
					%tbody
						%tr
							%td.cell_center{:colspan => "2"} Session 1
						%tr 
							%td.cell_center{:colspan => "2"} Session 2
