-# This file is app/views/semesters/index.html.haml
!!! 5

%html{:lang => "en"}
  %head
    %title
      Sessions
    = stylesheet_link_tag("frontpage")
    = javascript_include_tag("application")
  %body
    = render :partial => "partial/topbar_index"
    %div#container
      = render :partial => "partial/semester_error"
      %h1
        Jefferson PTA Sessions
      %div
        %table{:class => "table table-striped table-hover"}
          %thead
            %tr
              %td Current and Previous Sessions:
              %td.cell_right#create_new_semester

                = link_to "Create New Session", new_semester_path
          %tbody
            - @semesters.each do |semester|
              %tr
                %td.cell_center{:colspan => "2"}
                  = link_to semester.name, semester_path(semester)
                  %div{:style=>"float:right;font-size:0.9em"}
                    = semester.start_date
                    = " - "
                    = semester.end_date
