-# This file is app/views/semesters/index.html.haml
!!! 5

%html{:lang => "en"}
  %head
    %title
      Session List
      = stylesheet_link_tag("frontpage")
      = javascript_include_tag("application")
  %body
    = render :partial => "partial/topbar"
    %div#container
      %h1.span6.offset3
        Jefferson PTA Sessions
      %div.span6.offset3
        %table{:class => "table table-striped"}
          %thead
            %tr
              %td Current and Previous Sessions:
              %td.cell_right#create_new_semester

                = link_to "Create New Session", new_semester_path
          %tbody
            - @semesters.each do |semester|
              %tr
                %td.cell_center{:colspan => "2"}= link_to semester.name, semester_path(semester)
