-# This file is app/views/semesters/show.html.haml
!!! 5

- content_for :title, "#{@semester.name}"

.row
  .span12.module#semester-detail
    .module-heading
      .module-heading-title #{@semester.name}
      .module-heading-action
        = link_to "Edit", edit_semester_path
        
    .module-content
      .row
        .span5
          %table.attribute-table
            %tr
              %td.attribute-label
                Start date:
              %td.attribute-value
                = @semester.start_date
            %tr
              %td.attribute-label
                End date:
              %td.attribute-value
                = @semester.end_date
            %tr
              %td.attribute-label
                Registration fee:
              %td.attribute-value
                = sprintf "$%0.2f", @semester.fee || 0
            %tr
              %td.attribute-label
                Registration deadline:
              %td.attribute-value
                = @semester.registration_deadline
            %tr
              %td.attribute-label
                Lottery deadline:
              %td.attribute-value
                = @semester.lottery_deadline

        .span5.offset1
          %table.table.table-striped{:id=>"table_days_off"}
            %thead
              %tr
                %td Holidays
            - if @semester.dates_with_no_classes.length > 0
              - @semester.dates_with_no_classes.each do |date|
                %tr
                  %td
                    = date
            - else
              %tr
                %td
                  None
         
.row
  .span12.module
    = link_to home_of_semester_path, :class => 'btn btn-primary btn-large' do
      Manage Session &raquo;  
                  

- content_for :js do
  :javascript
