-# This file is app/views/semesters/new.html.haml
!!! 5

%html
  %head
    %title
      New Session
    = stylesheet_link_tag("frontpage")
    = javascript_include_tag("application")
  %body
    = render :partial => "partial/topbar"
    %div#container
      / %h1.span6.offset3
      .center
        %h1 Session: #{@semester.name}
      = render :partial => "partial/semester_error"
      %div.span8.offset2
        .hero-unit
          %h2
            Classes
          %table.table-striped.table-bordered.table-hover{:style=>"width:100%;text-align:center;"}
            %thead{:style=>"text-decoration:underline;"}
              %td Class
              %td Teacher
              %td Days
              %td Time
              %td Room
              %td Enrolled
              %td Edit
              %td Delete
            - if @courses
              - @courses.each do |course|
                %tr
                  %td #{course.name}
                  %td #{@ptainstructor_name || "--"}
                  %td
                    - if course.sunday
                      Su
                    - if course.monday
                      M
                    - if course.tuesday
                      Tu
                    - if course.wednesday
                      W
                    - if course.thursday
                      Th
                    - if course.friday
                      F
                    - if course.saturday
                      Sa
                  %td #{course.start_time} - #{course.end_time}
                  %td
                    TODO
                  %td
                    TODO
                  %td
                    = button_to "Edit", edit_semester_course_path(@semester.id,course.id), :method => :get, :class => "btn btn-warning"
                  %td
                    / %a{:href=>semester_course_path(@semester.id,params[:id])}
                    = button_to "Delete", semester_course_path(@semester.id,course.id), :method => :delete, :class => "btn btn-danger", :confirm => "Are you sure?"
          .vspace10
          .center-right
            %button.btn.btn-info
              Import
            %a{:href=>new_semester_course_path(@semester.id)}
              %button.btn.btn-info#new_semester_course
                Add +
          .vspace30

        .hero-unit
          %h2 
            Fees
          .horizontal-form
            = label :semester, :fee, 'Registration Fee: $', :class => "control-label"
            = text_field :semester, :fee
          .center-right
            %button.btn.btn-info
              Update
          .vspace30

        .hero-unit
          %h2
            Schedule
          .horizontal-form
            = label :semester, :start_date, 'Start Date:', :class => "control-label"
            = text_field :semester, :start_date
            .hspace15
            = label :semester, :end_date, 'End Date:', :class => "control-label"
            = text_field :semester, :end_date
            .hspace15
          .center-right
            %button.btn.btn-info
              Update
          .vspace30
          %table.table-striped.table-bordered.table-hover{:style=>"width:100%;text-align:center;"}
            %thead{:style=>"text-decoration:underline;"}
              %td Label
              %td Day or Span
              %td Remove
            %tr
              %td Class
              %td Teacher
              %td Days
            %tr
              %td Class
              %td Teacher
              %td Days
          .vspace10
          .center-right
            %button.btn.btn-info
              Add Days Off
          .vspace30
