-# This file is app/views/courses/new.html.haml
!!! 5

- content_for :title, "Edit Instructor"

.row
  .span5.module#instructor-edit
    .module-heading
      .module-heading-title Edit Instructor
  
    .module-content
      = form_tag ptainstructor_path(@ptainstructor), :method => "put", :class =>"form-horizontal" do
        %div.control-group 
          = label :ptainstructor, :first_name, 'First name', :class => "control-label"
          %div.controls
            = text_field :ptainstructor, :first_name

        %div.control-group 
          = label :ptainstructor, :last_name, 'Last name', :class => "control-label"
          %div.controls
            = text_field :ptainstructor, :last_name

        %div.control-group
          = label :ptainstructor, :email, 'Email', :class => "control-label"
          %div.controls
            = text_field :ptainstructor, :email

        %div.control-group
          = label :ptainstructor, :phone, 'Phone number', :class => "control-label"
          %div.controls
            = text_field :ptainstructor, :phone

        %div.control-group
          = label :ptainstructor, :address, 'Address', :class => "control-label"
          %div.controls
            = text_area :ptainstructor, :address, :rows => 5

        %div.control-group
          = label :ptainstructor, :bio, 'Biography', :class => "control-label"
          %div.controls
            = text_area :ptainstructor, :bio, :rows => 5

        %div.control-group
          %div.controls
            = submit_tag 'Update', :class => "btn btn-warning"
            = link_to 'Cancel', ptainstructor_path, :class => "btn btn-info"
            
- content_for :js do
  :javascript


