-# This file is app/views/ptainstructors/index.html.haml
!!! 5

- content_for :title, instructor_index_heading(@filter)

.row
  .span12.module
    %ul.module-heading-tabs
      %li.module-heading-tab{active_if(@filter.empty?)}
        = link_to "All", semester_ptainstructors_path(@semester)
      %li.module-heading-tab{active_if(@filter[:active] == 'true')}
        = link_to "Active", semester_ptainstructors_path(@semester, :filter_active => "true")
      %li.module-heading-tab{active_if(@filter[:active] == 'false')}
        = link_to "Inactive", semester_ptainstructors_path(@semester, :filter_active => "false")
      %li.module-heading-action
        = link_to "+ Add Instructor", new_semester_ptainstructor_path(@semester)
    %h3.print-heading-sub
      = instructor_index_heading(@filter)
             
    .module-content
      %table.data-table.full-width#instructors
        %thead
          %tr
            %td
              First Name
            %td
              Last Name
            %td
              Email
            %td
              Phone
            %td.action
        %tbody
          - if !@ptainstructors.empty?
            - @ptainstructors.each do |ptainstructor|
              %tr
                %td
                  = link_to ptainstructor.first_name, ptainstructor_path(ptainstructor)
                %td
                  = link_to ptainstructor.last_name, ptainstructor_path(ptainstructor)
                %td
                  = ptainstructor.email
                %td
                  = ptainstructor.phone
                %td.action
                  = link_to edit_ptainstructor_path(ptainstructor), :class => "edit-delete" do
                    %i.icon-pencil
                  - if ptainstructor.can_be_deleted?
                    = link_to ptainstructor_path(ptainstructor), :method => :delete, :class => "edit-delete",
                        :data => { :confirm => "Are you sure you want to delete #{ptainstructor.full_name_first_last}?" } do
                      %i.icon-trash
                  - else
                    %span.referenced-tooltip{"data-original-title"=>"Referenced by one or more courses. Remove the instructor from all referencing courses to delete."}
                      %i.icon-trash
          - else
            %tr
              %td.centered(colspan=5)   
                None
                                
- content_for :js do
  :javascript
    $(function() {
      $("span.referenced-tooltip").tooltip();
    });
