-# This file is app/views/ptainstructors/index.html.haml
!!! 5

%html{:lang => "en"}
  %head
    %title
      Session List
    = stylesheet_link_tag("frontpage")
    = javascript_include_tag("application")
  %body
    %div#container
      = render :partial => "partial/topbar", :locals => {:semester => @semester}
      = render :partial => "partial/ptainstructor_error"
      %h1
        PTA Instructors
      %table{:class => "table table-striped table-hover"}
        %thead
          %tr
            %td Current PTA Instructors:
            / %td.cell_right#create_new_semester
            %td
              = link_to "Add New PTA Instructor", new_semester_ptainstructor_path(@semester)
        %tbody
          - @ptainstructors.each do |ptainstructor|
            %tr
              %td.cell_center{:colspan => "2"}
                %div{:style=>"float:left;margin-top:4px;"}
                  = ptainstructor.name
                %span{:style=>"float:left;margin-left:140px;margin-top:4px;"}
                  = ptainstructor.email
                %span{:style=>"float:left;margin-left:60px;margin-top:4px;"}
                  = ptainstructor.phone
                %a.btn.btn-warning.span1{:href => "#{edit_semester_ptainstructor_path(@semester,ptainstructor)}",:style=>"float:left;margin-top:0;margin-left:80px;margin-right:10px;"}
                  Edit
                - if ptainstructor.can_be_deleted?
                  = link_to "Delete", semester_ptainstructor_path(@semester,ptainstructor), :method => "delete", :style=>"float:left;margin-left:10px;margin-top:0;margin-right:10px;", :class => "btn btn-danger span1"
                - else
                  = "PTA Instructor is currently referenced and cannot be deleted"
    :javascript
      $("#navbar-ptainstructors").addClass('active');
