-# This file is app/views/ptainstructors/new.html.haml
!!! 5

- content_for :title, "New Instructor"

.row
  .span5.module#instructor-edit
    .module-heading
      .module-heading-title New Instructor
      
    .module-content
      = form_tag semester_ptainstructors_path(@semester), :class =>"form-horizontal" do
        .control-group 
          = label :ptainstructor, :first_name, 'First name', :class => "control-label"
          .controls
            = text_field :ptainstructor, :first_name
  
        .control-group
          = label :ptainstructor, :last_name, 'Last name', :class => "control-label"
          .controls
            = text_field :ptainstructor, :last_name
        
        .control-group
          = label :ptainstructor, :email, 'Email', :class => "control-label"
          .controls
            = text_field :ptainstructor, :email
  
        .control-group
          = label :ptainstructor, :phone, 'Phone number', :class => "control-label"
          .controls
            = text_field :ptainstructor, :phone
  
        .control-group
          = label :ptainstructor, :address, 'Address', :class => "control-label"
          .controls
            = text_area :ptainstructor, :address, :rows => 5
  
        .control-group
          = label :ptainstructor, :bio, 'Biography', :class => "control-label"
          .controls
            = text_area :ptainstructor, :bio, :rows => 5
  
        .control-group
          .controls
            = submit_tag 'Add Instructor', :class => "btn btn-warning"
            = link_to 'Cancel', semester_ptainstructors_path(@semester), :class => "btn btn-info"

- content_for :js do
  :javascript

