-# This file is app/views/classrooms/edit.html.haml

!!! 5

- content_for :title, "Edit Classroom"

.row
  .span5.module#classroom-edit
    .module-heading
      .module-heading-title Edit Classroom
  
    .module-content
      = form_tag classroom_path(@classroom), :method => :put, :class =>"form-horizontal" do
        .control-group
          = label :classroom, :name, 'Name', :class => "control-label"
          .controls
            = text_field :classroom, :name

        .control-group 
          = label :classroom, :teacher, 'Teacher', :class => "control-label"
          .controls
            = text_field :classroom, :teacher

        .control-group
          = label :classroom, :grade, 'Grade', :class => "control-label"
          .controls
            = select_tag "classroom[grade]", grade_options_for_select(@classroom.allowable_grades, @classroom.grade),
                :prompt => 'Select Grade'

        .control-group
          .controls
            = submit_tag 'Update', :class => "btn btn-warning"
            = link_to 'Cancel', classroom_path(@classroom) , :class => "btn btn-info"
              
- content_for :js do
  :javascript

