-# This file is app/views/students/edit.html.haml
!!! 5

%html
  %head
    %title
      Edit Student
    = stylesheet_link_tag("frontpage")
    = javascript_include_tag("application")
  %body
    %div#container
      = render :partial => "partial/topbar", :locals => {:semester => @semester}
      = render :partial => "partial/flash_messages"
      .clear
      %h1.span6.offset3
        Edit Student
      .vspace20
      %div.span8.offset2
        = form_tag semester_student_path(@semester, @student), :class =>"form-horizontal", :method => :put do
          %div.control-group
            = label :student, :first_name, 'First Name:', :class => "control-label"
            %div.controls
              = text_field :student, :first_name
              
          %div.control-group
            = label :student, :last_name, 'Last Name:', :class => "control-label"
            %div.controls
              = text_field :student, :last_name

          %div.control-group
            = label :student, :grade, 'Grade:', :class => "control-label"
            %div.controls
              = text_field :student, :grade

          %div.control-group
            = label :teacher, 'Jefferson Classroom Teacher:', :class => "control-label"
            %div.controls
              = select_tag :teacher, options_from_collection_for_select(@teachers, :id, :name),:class => "course_select"

          %div.control-group
            = label :student, :parent_phone, 'Parent Phone:', :class => "control-label"
            %div.controls
              = phone_field :student, :parent_phone

          %div.control-group
            = label :student, :parent_phone2, 'Parent Phone 2:', :class => "control-label"
            %div.controls
              = phone_field :student, :parent_phone2

          %div.control-group
            = label :student, :parent_email, 'Parent Email:', :class => "control-label"
            %div.controls
              = email_field :student, :parent_email

          %div.control-group
            = label :student, :health_alert, 'Health Alert:', :class => "control-label"
            %div.controls
              = text_area :student, :health_alert, :rows => 5

          %div.control-group
            %div.controls
              = submit_tag 'Update Student Information', :class => "btn btn-info"
              = link_to 'Cancel', semester_students_path(@semester) , :class => "btn btn-info"
          .clear
          .vspace80
        %div#enrollment
          %h1.span8.offset2
            Student Enrollment
          .vspace20
          = form_tag semester_student_enrollments_path(@semester, @student), :class =>"form-horizontal" do
            %div.control-group
              = label "enrollment[scholarship]", 'Select Class:', :class => "control-label"
              %div.controls
                = select_tag "enrollment[scholarship]", options_from_collection_for_select(@classes, :id, :name),:class => "course_select"

            %div.control-group
              = label "enrollment[scholarship]", 'Scholarship:', :class => "control-label radio inline"

              %div{:style=>"float:left;outline:1px solid black;"}
                = label "enrollment[scholarship]", 'None:', :class => "control-label radio inline"
                %div.controls
                  = radio_button_tag "enrollment[scholarship]", "0"

              %div{:style=>"float:left;outline:1px solid black;"}
                = label "enrollment[scholarship]", 'Full:', :class => "control-label radio inline"
                %div.controls
                  = radio_button_tag "enrollment[scholarship]", "1"

              %div{:style=>"float:left;outline:1px solid black;"}
                = label "enrollment[scholarship]", 'Partial:', :class => "control-label radio inline"
                %div.controls
                  = radio_button_tag "enrollment[scholarship]", "1"

            %div.control-group
              = label "enrollment[scholarship]", :amount, 'Amount:', :class => "control-label"
              %div.controls
                = text_field :enrollment, :scholarship_amount

            %div.control-group
              = label :dismissal, 'Dismissal Location:', :class => "control-label radio inline"

              %div{:style=>"float:left;outline:1px solid black;"}
                = label :dismissal, 'Pick Up:', :class => "control-label radio inline"
                %div.controls
                  = radio_button_tag :dismissal, "0"

              %div{:style=>"float:left;outline:1px solid black;"}
                = label :dismissal, 'JAZ:', :class => "control-label radio inline"
                %div.controls
                  = radio_button_tag :dismissal, "1"

              %div{:style=>"float:left;outline:1px solid black;"}
                = label :dismissal, 'BEARS:', :class => "control-label radio inline"
                %div.controls
                  = radio_button_tag :dismissal, "2"

              %div{:style=>"float:left;outline:1px solid black;"}
                = label :dismissal, 'walk:', :class => "control-label radio inline"
                %div.controls
                  = radio_button_tag :dismissal, "3"

            %div.control-group
              = label :status, 'Status:', :class => "control-label radio inline"

              %div{:style=>"float:left;outline:1px solid black;"}
                = label :status, 'Enrolled:', :class => "control-label radio inline"
                %div.controls
                  = radio_button_tag :enrolled, "0"

              %div{:style=>"float:left;outline:1px solid black;"}
                = label :status, 'Not Enrolled Lottery:', :class => "control-label radio inline"
                %div.controls
                  = radio_button_tag :enrolled, "1"

            %div.control-group
              %div.controls
                = submit_tag 'Add Enrollment', :class => "btn btn-info"
                = link_to 'Cancel', semester_students_path(@semester) , :class => "btn btn-info"
            .clear
            .vspace80


    :javascript
      $("#navbar-students").addClass('active');

