-# This file is app/views/students/edit.html.haml
!!! 5

%html
  %head
    %title
      Edit Student
    = stylesheet_link_tag("frontpage")
    = javascript_include_tag("application")
  %body
    %div#container
      = render :partial => "partial/topbar", :locals => {:semester => @semester}
      = render :partial => "partial/flash_messages"
      .clear
      %div.enrollmentTable
        %table.table-striped.table-bordered.table-hover{:style=>"width:100%;text-align:center;"}
          %thead
            %tr
              %td
                Course
              %td
                Enrolled
              %td
                Scholarship Amount
              %td
                Class Fees
              %td
                Dismissal
              %td
                Edit Entry
              %td
                Delete Entry
          %tbody
            - if @enrollments.length != 0
              - @enrollments.each do |enrollment|
                %tr
                  %td.cell_center.enrollment-course{:id=>"#{enrollment.course.id}"}
                    = enrollment.course.name
                  %td.cell_center.enrollment-enrolled
                    = enrollment.enrolled
                  %td.cell_center.enrollment-scholarship{:id=>"#{enrollment.scholarship}"}
                    = enrollment.scholarship_amount
                  %td.cell_center.enrollment-fee
                    = enrollment.course.total_fee
                  %td.cell_center.enrollment-pickup{:id=>"#{enrollment.dismissal}"}
                    = enrollment.dismissal_to_s
                  %td.cell_center
                    = button_to "Edit", edit_semester_student_enrollment_path(@semester, @student, enrollment), :method => :get, :class => "btn btn-warning edit-delete enrollment-edit", :id => "#{enrollment.id}"
                  %td.cell_center
                    = button_to "Delete", semester_student_enrollment_path(@semester, @student, enrollment), :method => :delete, :class => "btn btn-danger edit-delete"
            - else
              %tr
                %td.cell_center
                  ="-"
                %td.cell_center
                  ="-"
                %td.cell_center
                  ="-"
                %td.cell_center
                  ="-"
                %td.cell_center
                  ="-"
                %td.cell_center
                  ="-"
                %td.cell_center
                  ="-"
        .clear
        .vspace40


      %div#student-edit{:style=>"float:left;width:430px;border:1px solid #ddd;margin-right:15px;height:650px;"}
        %h1{:style=>"text-align:center;"}
          Edit Student
        .vspace20
        = form_tag semester_student_path(@semester, @student), :class =>"form-horizontal", :method => :put, :style=>"display:inline;" do
          %div.control-group
            = label :student, :first_name, 'First Name:', :class => "control-label"
            %div.controls
              = text_field :student, :first_name
              
          %div.control-group
            = label :student, :last_name, 'Last Name:', :class => "control-label"
            %div.controls
              = text_field :student, :last_name

          %div.control-group
            = label :student, :grade, 'Grade:', :class => "control-label"
            %div.controls
              = text_field :student, :grade

          %div.control-group
            = label :teacher, 'Classroom Teacher:', :class => "control-label"
            %div.controls
              = select_tag :teacher, options_from_collection_for_select(@teachers, :id, :name, @student.teacher_id),:class => "course_select"

          %div.control-group
            = label :student, :parent_phone, 'Parent Phone:', :class => "control-label"
            %div.controls
              = phone_field :student, :parent_phone

          %div.control-group
            = label :student, :parent_phone2, 'Parent Phone 2:', :class => "control-label"
            %div.controls
              = phone_field :student, :parent_phone2

          %div.control-group
            = label :student, :parent_email, 'Parent Email:', :class => "control-label"
            %div.controls
              = email_field :student, :parent_email

          %div.control-group
            = label :student, :health_alert, 'Health Alert:', :class => "control-label"
            %div.controls
              = text_area :student, :health_alert, :rows => 5

          %div.control-group
            %div.controls
              = submit_tag 'Update Student Information', :class => "btn btn-info", :style=>"width:220px;"
              %br
              .vspace10
              %div{:style=>"width:190px;"}
                = link_to 'Cancel', semester_students_path(@semester) , :class => "btn btn-info", :style=>"width:100%;"
          .clear
          .vspace80

      %div#enrollment{:style=>"float:left;width:460px;outline:1px solid #ddd;height:650px;position:relative;top:1px;left:9px;"}
        %h1{:style=>"text-align:center;"}
          Student Enrollment
        .vspace20
        = form_tag semester_student_enrollments_path(@semester, @student), :class =>"form-horizontal", :style=>"display:inline;" do
          %div.control-group
            = label "enrollment[course_id]", 'Select Class:', :class => "control-label"
            %div.controls
              = select_tag "enrollment[course_id]", options_from_collection_for_select(@classes, :id, :name),:class => "course_select"

          %div.control-group{:style=>"margin-bottom:0;"}
            = label "enrollment[scholarship]", 'Scholarship:', :class => "control-label radio inline", :style=>"position:relative;left:-18px;"
            / Scholarship:

            %div{:style=>"width:215px;height:90px;position:relative;left:180px;top:-18px;"}
              %div{:style=>"width:100%;float:left;"}
                %div{:style=>"float:left;width:50px;"}
                  None:
                = radio_button_tag "enrollment[scholarship]", "0", true, :style=>"position:relative;top:-3px;"
              .clear
              %div{:style=>"width:100%;float:left;"}
                %div{:style=>"float:left;width:50px;"}
                  Full:
                = radio_button_tag "enrollment[scholarship]", "1", false, :style=>"position:relative;top:-3px;"
              .clear
              %div{:style=>"width:100%;float:left;"}
                %div{:style=>"float:left;width:50px;"}
                  Partial:
                = radio_button_tag "enrollment[scholarship]", "2", false, :style=>"position:relative;top:-3px;"
              .clear

          %div.control-group#enrollment-amount-div
            = label "enrollment[scholarship]", :amount, 'Amount:', :class => "control-label"
            %div.controls
              = text_field "enrollment", :scholarship_amount

          %div.control-group{:style=>"margin-bottom:10px;"}
            = label "enrollment[dismissal]", 'Dismissal Location:', :class => "control-label radio inline", :style=>"position:relative;left:-18px;"

            %div{:style=>"width:100px;height:90px;position:relative;left:180px;top:-20px;"}
              %div{:style=>"width:100%;float:left;"}
                %div{:style=>"float:left;width:60px;"}
                  Pick Up:
                = radio_button_tag "enrollment[dismissal]", "0", false, :style=>"position:relative;top:-3px;"

              %div{:style=>"width:100%;float:left;"}
                %div{:style=>"float:left;width:60px;"}
                  JAZ
                = radio_button_tag "enrollment[dismissal]", "1", false, :style=>"position:relative;top:-3px;"

              %div{:style=>"width:100%;float:left;"}
                %div{:style=>"float:left;width:60px;"}
                  BEARS:
                = radio_button_tag "enrollment[dismissal]", "2", false, :style=>"position:relative;top:-3px;"

              %div{:style=>"width:100%;float:left;"}
                %div{:style=>"float:left;width:60px;"}
                  Walk:
                = radio_button_tag "enrollment[dismissal]", "3", false, :style=>"position:relative;top:-3px;"

          %div.control-group{:style=>"margin-bottom:0;"}
            = label :status, 'Status:', :class => "control-label radio inline", :style=>"position:relative;left:-18px;"

            %div{:style=>"width:240px;height:80px;position:relative;left:180px;top:-20px;"}
              %div{:style=>"width:100%;float:left;"}
                %div{:style=>"float:left;width:140px;"}
                  Enrolled:
                = radio_button_tag "enrollment[enrolled]", "true", false, :style=>"position:relative;top:-3px;"

              %div{:style=>"width:100%;float:left;"}
                %div{:style=>"float:left;width:140px;"}
                  Not Enrolled Lottery:
                = radio_button_tag "enrollment[enrolled]", "false", false, :style=>"position:relative;top:-3px;"

          %div.control-group
            %div.controls
              = submit_tag 'Add Enrollment', :class => "btn btn-info", :style=>"width:220px;"
              %br
              .vspace10
              = link_to 'Cancel', semester_students_path(@semester) , :class => "btn btn-info", :style=>"width:190px;"
          .clear
          .vspace80

    :javascript
      $(function() {
        $("#navbar-students").addClass('active');
        $("#enrollment_scholarship_amount").val(0);
        $("#enrollment_scholarship_0").click();
        $("#enrollment-amount-div").css('visibility','hidden');
        $("#enrollment_course_id").change(function() {
          courseid = $("#enrollment_course_id").val();
          if ($("#enrollment_scholarship_1").attr('checked')) {
            $.ajax({
              url: "/coursefee/" + courseid
            }).done(function(data) {
              $("#enrollment_scholarship_amount").val(data);
            });
          }
        });
        $(".enrollment-edit").click(function(event) {
          event.preventDefault();
          $td = $(this).parent().parent().parent();
          $courseID = $td.siblings(".enrollment-course").attr("id");
          $enrollmentStatus = $.trim($td.siblings(".enrollment-enrolled").text());
          $scholarship = $td.siblings(".enrollment-scholarship").attr("id");
          $scholarshipAmount = $.trim($td.siblings(".enrollment-scholarship").text());
          $pickup = $td.siblings(".enrollment-pickup").attr("id");
          $("#enrollment_course_id").val($courseID);
          $("#enrollment_scholarship_"+$scholarship).click();
          if($scholarship == "2"){
             $("#enrollment_scholarship_amount").val($scholarshipAmount);
          }
          $("#enrollment_dismissal_"+$pickup).click();
          $("#enrollment_enrolled_"+$enrollmentStatus).click();

        });
        $("#enrollment_scholarship_0").click(function() {
          // None
          $("#enrollment_scholarship_amount").val(0);
          $("#enrollment-amount-div").css('visibility','hidden');
        });
        $("#enrollment_scholarship_1").click(function() {
          // Full
          $("#enrollment-amount-div").css('visibility','visible');
          courseid = $("#enrollment_course_id").val();
          $.ajax({
            url: "/coursefee/" + courseid
          }).done(function(data) {
            $("#enrollment_scholarship_amount").val(data);
          });
        });
        $("#enrollment_scholarship_2").click(function() {
          // Partial
          $("#enrollment-amount-div").css('visibility','visible');
        });
      });

