-# This file is app/views/students/edit.html.haml
!!! 5

- content_for :title, "Edit Student"

.row
  .span5.module#student-edit
    .module-heading
      .module-heading-title Edit Student
  
    .module-content
      = form_tag student_path(@student), :class =>"form-horizontal", :method => :put do
        .control-group
          = label :student, :first_name, 'First name', :class => "control-label"
          .controls
            = text_field :student, :first_name
            
        .control-group
          = label :student, :last_name, 'Last name', :class => "control-label"
          .controls
            = text_field :student, :last_name
    
        .control-group
          = label :student, :grade, 'Grade', :class => "control-label"
          .controls
            = select_tag "student[grade]", grade_options_for_select(@student.allowable_grades, @student.grade),
                :prompt => 'Select Grade'
    
        .control-group
          = label :teacher, 'Classroom teacher', :class => "control-label"
          .controls
            = select_tag :teacher, options_from_collection_for_select(@teachers, :id, :name, @student.teacher_id), 
                :prompt => 'Select Teacher', :class => "course_select"
    
        .control-group
          = label :student, :parent_phone, 'Parent phone', :class => "control-label"
          .controls
            = phone_field :student, :parent_phone
    
        .control-group
          = label :student, :parent_phone2, 'Parent phone 2', :class => "control-label"
          .controls
            = phone_field :student, :parent_phone2
    
        .control-group
          = label :student, :parent_email, 'Parent email', :class => "control-label"
          .controls
            = email_field :student, :parent_email
    
        .control-group
          = label :student, :health_alert, 'Health alert', :class => "control-label"
          .controls
            = text_area :student, :health_alert, :rows => 5
    
        .control-group
          .controls
            = submit_tag 'Update', :class => "btn btn-warning"
            = link_to 'Cancel', student_path , :class => "btn btn-info"

- content_for :js do
  :javascript
    $(function() {
      $('#enrollments').load('#{enrollments_for_student_path(@student)}');
      $("#enrollment_scholarship_amount").val(0);
      $("#enrollment_scholarship_0").click();
      $("#enrollment-amount-div").css('visibility','hidden');
      $("#enrollment_course_id").change(function() {
        courseid = $("#enrollment_course_id").val();
        if ($("#enrollment_scholarship_1").attr('checked')) {
          $.ajax({
            url: "/courses/" + courseid + "/fee"
          }).done(function(data) {
            $("#enrollment_scholarship_amount").val(data);
          });
        }
      });
      $("#enrollment_cancel").click(function(event) {
        event.preventDefault();
        $("#enrollment_course_id").val("");
        $("#enrollment_header").text("Add Enrollment");
        $("#enrollment_scholarship_0").click();
        $("#dismissal_loc input").prop("checked", false);
        $("#enrollment_status input").prop("checked", false);
        $("#enrollment_submit").val("Add New Enrollment");
        $("#enrollment_submit").addClass("btn-info");
        $("#enrollment_submit").removeClass("btn-warning");
      });
      $(".enrollment-editx").click(function(event) {
      
        event.preventDefault();
        $courseId = $(this).attr("id").split("_")[2];
        alert($courseId);
        $enrollmentStatus = $td.siblings(".enrollment-enrolled").attr("id").split("_")[3];
        $scholarship = $td.siblings(".enrollment-scholarship").attr("id").split("_")[3];
        $scholarshipAmount = $.trim($td.siblings(".enrollment-scholarship").text());
        $("#enrollment_header").text("Edit Enrollment for "+$courseName);
        $("#enrollment_course_id").val($courseID);
        //$("#enrollment_course_id").parent().parent().hide();
        $("#enrollment_scholarship_"+$scholarship).click();
        if($scholarship == "2"){
           $("#enrollment_scholarship_amount").val($scholarshipAmount);
        }
        $("#enrollment_enrolled_"+$enrollmentStatus).click();
        $("#enrollment_submit").val("Edit "+$courseName);
        $("#enrollment_submit").removeClass("btn-info");
        $("#enrollment_submit").addClass("btn-warning");
  
      });
      $("#enrollment_course_idx").change(function(event) {
        $tmp = $("#enrollment_course_"+$(this).val());
        if($tmp.length > 0){
          $tmp.siblings(".edit-td").children().children().children().click();
        }
        else{
          $("#enrollment_header").text("Add Enrollment");
          $("#enrollment_scholarship_0").click();
          $("#dismissal_loc input").prop("checked", false);
          $("#enrollment_status input").prop("checked", false);
          $("#enrollment_submit").val("Add New Enrollment");
          $("#enrollment_submit").addClass("btn-info");
          $("#enrollment_submit").removeClass("btn-warning");
        }
      });
      $("#enrollment_scholarship_0").click(function() {
        // None
        $("#enrollment_scholarship_amount").val(0);
        $("#enrollment-amount-div").css('visibility','hidden');
      });
      $("#enrollment_scholarship_1").click(function() {
        // Full
        $("#enrollment-amount-div").css('visibility','visible');
        courseid = $("#enrollment_course_id").val();
        $.ajax({
          url: "/course_fee/" + courseid
        }).done(function(data) {
          $("#enrollment_scholarship_amount").val(data);
        });
      });
      $("#enrollment_scholarship_2").click(function() {
        // Partial
        $("#enrollment-amount-div").css('visibility','visible');
      });
    });

