-# This file is app/views/students/index.html.haml
!!! 5

- content_for :title, student_index_heading(@filter)

.row
  .span12.module
    %ul.module-heading-tabs
      %li.module-heading-tab{active_if(@filter.empty?)}
        = link_to "All", semester_students_path(@semester)
      %li.module-heading-tab{active_if(@filter[:enrolled] == 'true')}
        = link_to "Enrolled", semester_students_path(@semester, :filter_enrolled => 'true')
      %li.module-heading-tab{active_if(@filter[:enrolled] == 'false')}
        = link_to "Not Enrolled", semester_students_path(@semester, :filter_enrolled => 'false')
      %li.module-heading-form
        - form_params = params.merge(show_notes: nil)
        = form_tag url_for(form_params), :method => 'get', :class => 'form-inline', :id => 'filter-form' do
          = label_tag 'show_notes', :class => 'checkbox filter-checkbox' do
            = check_box_tag 'show_notes', '1', params[:show_notes]
            Show notes

      %li.module-heading-action
        = link_to "+ Add Student", new_semester_student_path
    %h3.print-heading-sub
      = student_index_heading(@filter)

    .module-content
      %table.data-table.full-width#students
        %thead
          %tr
            %td
              First Name
            %td
              Last Name
            %td
              Grade
            %td
              Teacher
            %td
              Classes
            - if params[:show_notes]
              %td
                Notes
            %td.action

        %tbody
          - if !@students.empty?
            - @students.each do |student|
              %tr
                %td
                  = link_to student.first_name, student_path(student)
                %td
                  = link_to student.last_name, student_path(student)
                %td
                  = student.grade
                %td
                  = student.classroom ? link_to(student.classroom.teacher, classroom_path(student.classroom)) : ""
                %td
                  = student.num_valid_enrollments
                - if params[:show_notes]
                  %td
                    = truncate(student.notes, length: 30)
                %td.action
                  = link_to edit_student_path(student), :class => "edit-delete" do
                    %i.icon-pencil
                  = link_to student_path(student), :method => :delete, :class => "edit-delete",
                      :data => { :confirm => "Are you sure you want to delete #{student.full_name}?" } do
                    %i.icon-trash
          - else
            %tr
              %td.centered(colspan=6)
                None

- content_for :js do
  :javascript
    $(function() {
      $('.filter-checkbox').click(function(){
        $('#filter-form').submit();
      });
    });
