-# This file is app/views/students/new.html.haml
!!! 5

- content_for :title, "New Student"

.row
  .span6.offset3.module#student-edit
    .module-heading
      .module-heading-title New Student
      
    .module-content
      = form_tag semester_students_path(@semester), :class =>"form-horizontal" do
        .control-group
          = label :student, :first_name, 'First name', :class => "control-label"
          .controls
            = text_field :student, :first_name
            
        .control-group
          = label :student, :last_name, 'Last name', :class => "control-label"
          .controls
            = text_field :student, :last_name
  
        .control-group
          = label :student, :grade, 'Grade', :class => "control-label"
          .controls
            = select_tag "student[grade]", grade_options_for_select(@student.allowable_grades, @student.grade),
                :prompt => 'Select Grade'
            
        .control-group
          = label :classroom, 'Teacher', :class => "control-label"
          .controls
            = select_tag :classroom, options_from_collection_for_select(@classrooms, :id, :teacher, @student.classroom_id), 
                :prompt => 'Select Teacher', :class => "course_select"
  
        .control-group
          = label :student, :parent_phone, 'Parent phone', :class => "control-label"
          .controls
            = phone_field :student, :parent_phone
  
        .control-group
          = label :student, :parent_phone2, 'Parent phone 2', :class => "control-label"
          .controls
            = phone_field :student, :parent_phone2
  
        .control-group
          = label :student, :parent_email, 'Parent email', :class => "control-label"
          .controls
            = email_field :student, :parent_email
  
        .control-group
          = label :student, :health_alert, 'Health alert', :class => "control-label"
          .controls
            = text_area :student, :health_alert, :rows => 5
  
        .control-group
          .controls
            = submit_tag 'Register Student', :class => "btn btn-info"
            = link_to 'Cancel', semester_students_path(@semester) , :class => "btn btn-info"

- content_for :js do
  :javascript

