-# This file is app/views/students/show.html.haml
!!! 5

- content_for :title, "#{@student.full_name}"

.row
  .span5.module#student-detail
    .module-heading
      .module-heading-title= @student.full_name
      .module-heading-action= link_to 'Edit', edit_student_path

    .module-content
      %table.attribute-table
        %tr
          %td.attribute-label
            Grade:
          %td.attribute-value
            = @student.grade
        %tr
          %td.attribute-label
            Teacher:
          %td.attribute-value
            - if @student.classroom
              = link_to "#{@student.classroom.teacher}", classroom_path(@student.classroom)
        %tr
          %td.attribute-label
            Parent Phone:
          %td.attribute-value
            = @student.parent_phone
        %tr
          %td.attribute-label
            Parent Phone 2:
          %td.attribute-value
            = @student.parent_phone2
        %tr
          %td.attribute-label
            Parent Email:
          %td.attribute-value
            = @student.parent_email
        %tr
          %td.attribute-label
            Health Alert:
          %td.attribute-value
            = @student.health_alert
        %tr
          %td.attribute-label
            Admin Notes:
          %td.attribute-value
            = @student.notes

  .span6.offset1.module#student-enrollments
    .module#enrollment-list
      = render :partial => 'students/enrollments/list', :locals => {:semester => @semester, :student => @student, :enrollments => @enrollments}
    .module#enrollment-detail

- content_for :js do
  :javascript
      $(function() {
        $('body').on('click', '#scholarship-none', function() {
          $("#scholarship-amount-group").hide();
          $("#scholarship-amount").prop("disabled",true);
        });
        $('body').on('click', '#scholarship-full', function() {
          $("#scholarship-amount-group").hide();
          $("#scholarship-amount").prop("disabled",true);
        });
        $('body').on('click', '#scholarship-partial', function() {
          $("#scholarship-amount-group").show();
          $("#scholarship-amount").prop("disabled",false);
        });
      });


