-# This file is app/views/instructors/show.html.haml
!!! 5

- content_for :title, "#{@instructor.full_name_first_last}"

.row
  .span5#instructor-detail
    .module-heading
      .module-heading-title= @instructor.full_name_first_last
      .module-heading-action= link_to 'Edit', edit_instructor_path

    .module-content
      %table.attribute-table
        %tr
          %td.attribute-label
            Email:
          %td.attribute-value
            = @instructor.email
        %tr
          %td.attribute-label
            Phone:
          %td.attribute-value
            = @instructor.phone
        %tr
          %td.attribute-label
            Address:
          %td.attribute-value
            = @instructor.address
        %tr
          %td.attribute-label
            Bio:
          %td.attribute-value
            = @instructor.bio

  .span6.offset1#instructor-classes
    .module#class-list
      = render :partial => 'courses_by_instructor', :locals => {:semester => @semester, :instructor => @instructor}
    .module#invoice-list
      = render :partial => 'invoices/list', :locals => {:semester => @semester, :instructor => @instructor, :invoices => @instructor.invoices}
    .module#invoice-detail

- content_for :js do
  :javascript


