-# This file is app/views/users/edit.html.haml
!!! 5

- content_for :title, "Edit User"

.row
  .span5.module
    .module-heading
      .module-heading-title Edit User

    .module-content
      = form_tag user_path(@user), :method => :put, :class => "form-horizontal" do
        .control-group
          = label :user, :username, 'Username', :class => "control-label"
          .controls
            = text_field :user, :username
        .control-group
          .control-label Role
          .controls
            - if current_user.is_app_admin?
              = label :user, :role, :class => "radio" do
                = radio_button :user, :role, 0
                App Admin
            = label :user, :role, :class => "radio" do
              = radio_button :user, :role, 1
              Program Admin
            = label :user, :role, :class => "radio" do
              = radio_button :user, :role, 2
              Session Admin
        .control-group
          = label :user, :password, 'New password', :class => "control-label"
          .controls
            = password_field :user, :password
            .help-block
              Leave blank to leave password as-is
        .control-group
          = label :user, :password_confirmation, 'Confirm new password', :class => "control-label"
          .controls
            = password_field :user, :password_confirmation

        .control-group
          .controls
            = submit_tag 'Update', :class => "btn btn-warning"
            = link_to 'Cancel', user_path(@user), :class => "btn btn-info"


- content_for :js do
  :javascript
