-# This file is app/views/semesters/index.html.haml
!!! 5

%html{:lang => "en"}
  %head
    %title
      Session List
    = stylesheet_link_tag("frontpage")
    = javascript_include_tag("application")
  %body
    = render :partial => "partial/topbar"
    %div#container
      = render :partial => "partial/user_error"
      %h1
        PTA Instructors
      %table{:class => "table table-striped table-hover"}
        %thead
          %tr
            %td Current PTA Instructors:
            / %td.cell_right#create_new_semester
            %td
              = link_to "Add New PTA Instructor", new_user_path
        %tbody
          - @users.each do |user|
            %tr
              %td.cell_center{:colspan => "2"}
                = link_to user.name, user_path(user)
