-# This file is app/views/users/index.html.haml
!!! 5

- content_for :title, user_index_heading

.row
  .span12.module
    .module-heading
      .module-heading-title
        Users
      .module-heading-action
        = link_to "+ Add User", new_program_user_path

    %h3.print-heading-sub
      = user_index_heading()
             
    .module-content
      %table.data-table.full-width#users
        %thead
          %tr
            %td
              Username
            %td
              Role
            %td
              Last Login
            %td.action
        %tbody
          - if !@users.empty?
            - @users.each do |user|
              %tr
                %td
                  = link_to user.username, user_path(user)
                %td
                  = user.role_to_s
                %td
                  = user.last_login_at ? user.last_login_at.to_formatted_s(:long) : "Never logged in"
                %td.action
                  = link_to edit_user_path(user), :class => "edit-delete" do
                    %i.icon-pencil
                  - if user.id != current_user.id
                    = link_to user_path(user), :method => :delete, :class => "edit-delete",
                        :data => { :confirm => "Are you sure you want to delete #{user.username}?" } do
                      %i.icon-trash
                  - else
                    %span.referenced-tooltip{"data-original-title"=>"Can't delete the current user."}
                      %i.icon-trash
          - else
            %tr
              %td.centered(colspan=4)   
                None
                                
- content_for :js do
  :javascript
    $(function() {
      $("span.referenced-tooltip").tooltip();
    });
