.navbar.navbar-inverse.navbar-fixed-top
  #nav.navbar-inner
    .container
      %button.btn.btn-navbar(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to application_name, root_path, :class => 'brand'
      .nav-collapse.collapse.navbar-responsive-collapse
        %ul.nav
          - if semester && !semester.new_record? && site_section != :semesters_section
            %li#navbar-semester-home{class: site_section == :semester_home_section && 'active'}
              = link_to_section :semester_home_section, :semester => semester
            %li#navbar-courses{class: site_section == :courses_section && 'active'}
              = link_to_section :courses_section, :semester => semester
            %li#navbar-instructors{class: site_section == :instructors_section && 'active'}
              = link_to_section :instructors_section, :semester => semester
            %li#navbar-classrooms{class: site_section == :classrooms_section && 'active'}
              = link_to_section :classrooms_section, :semester => semester
            %li#navbar-students{class: site_section == :students_section && 'active'}
              = link_to_section :students_section, :semester => semester
            %li#navbar-enrollments{class: site_section == :enrollments_section && 'active'}
              = link_to_section :enrollments_section, :semester => semester
            %li#navbar-reports{class: site_section == :reports_section && 'active'}
              = link_to_section :reports_section, :semester => semester

          - if current_user.is_program_admin?
            %li.dropdown
              = link_to '#', :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'} do
                Admin
                %b.caret
              %ul.dropdown-menu(role="menu" aria-labelledby="dropdown")
                - if current_user.is_app_admin?
                  %li
                    = link_to 'Programs', programs_path, :tabindex => '-1'
                - if site_section != :programs_section
                  %li
                    = link_to 'Sessions', program_semesters_path(current_program), :tabindex => '-1'
                  %li
                    = link_to 'Users', program_users_path(current_program), :tabindex => '-1'
                
        %ul.nav.pull-right
          %li#navbar-user_session
            = link_to "Logout #{current_user.username}", logout_path
 