.vspace20
%div
  %a.brand{:href=>"#{semesters_path}",:style=>"font-size:2em;"}
    JAS Administration
.vspace10
.navbar
  .navbar-inner
    %ul.nav
      %li#navbar-semester{:style=>"border:0;"}
        %a.brand{:href=>"#{semester_path(semester)}"}
          #{semester.name}
      %li#navbar-courses
        %a{:href=>"#{semester_courses_path(semester)}"}
          Courses
      %li#navbar-ptainstructors
        %a{:href=>"#{semester_ptainstructors_path(semester)}"}
          PTA Instructors
      %li#navbar-students
        %a{:href=>"#{semester_students_path(semester)}"}
          Students
      %li#navbar-teachers
        %a{:href=>"#{semester_teachers_path(semester)}"}
          Teachers/Classrooms
      %li#navbar-user_session
        %a{:href=>"#{destroy_user_session_path}"}
          = "Logout: "
          %b
            = "#{@current_user.username}"

.vspace10
