%ul.nav.nav-tabs
  %li
    = link_to "Home", semesters_path
  %li.active
    = link_to "Sessions", new_semester_path
  %li
    = link_to "Instructors", new_semester_path
  %li
    = link_to "Classes", new_semester_path
  %li
    = link_to "Students", new_semester_path
  %li
    = link_to "Classrooms", new_semester_path
