.vspace20
.navbar
  .navbar-inner
    %a.brand{:href=>"#{semesters_path}"}
      ="PTA Scheduler"
      =": "
      %a.brand{:href=>"#{semester_path(semester)}", :style=>"padding-left:5px;"}
        ="#{semester.name}"
    %ul.nav
      %li#navbar-courses
        %a{:href=>"#{semester_courses_path(semester)}"} Classes
      %li#navbar-ptainstructors
        %a{:href=>"#{semester_ptainstructors_path(semester)}"} PTA Instructors
      %li#navbar-students
        %a{:href=>"semester_students_path(semester)", :style=>"color:#bbb;"} Students
      %li#navbar-teachers
        %a{:href=>"#{semester_teachers_path(semester)}"} Teachers/Classrooms

.vspace40
