.vspace20
.navbar
  .navbar-inner
    %ul.nav
      %li
        %a.brand{:href=>"#{semesters_path}", :style=>"text-align:center;"} JAS Administration
      %li#navbar-semester
        %a{:href=>"#{semester_path(semester)}"}
          #{semester.name}
      %li#navbar-courses
        %a{:href=>"#{semester_courses_path(semester)}"}
          Classes
      %li#navbar-ptainstructors
        %a{:href=>"#{semester_ptainstructors_path(semester)}"}
          PTA Instructors
      %li#navbar-students
        %a{:href=>"#{semester_students_path(semester)}"}
          Students
      %li#navbar-teachers
        %a{:href=>"#{semester_teachers_path(semester)}"}
          Teachers/Classrooms

.vspace10
