.vspace20
.navbar
  .navbar-inner
    %a.brand{:href=>"#{semesters_path}"}
      ="JAS Administration"
    %ul.nav
      %li#navbar-new-session
        %a{:href=>"#{new_semester_path}"} Create New Session
      %li#navbar-user_session
        %a{:href=>"#{user_session_destroy_path}"}
          = "Logout #{@current_user.username}"

.vspace40
