-# This file is app/views/enrollments/index.html.haml
!!! 5

- content_for :title, enrollment_index_heading(@filter)

.row
  .span12
    %ul.module-heading-tabs
      %li.module-heading-tab{active_if(@filter.empty?)}
        = link_to "All", semester_enrollments_path(@semester)
      %li.module-heading-tab.dropdown{active_if(@filter[:teacher])}
        = link_to '#', :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'} do
          #{@filter[:teacher] ? @filter[:teacher].teacher : "By Teacher"}
          %b.caret
        %ul.dropdown-menu(role="menu" aria-labelledby="dropdown")
          - @all_teachers.each do |t|
            %li
              = link_to t.teacher, semester_enrollments_path(@semester, :filter_teacher => t.id), :tabindex => '-1' 
      %li.module-heading-tab.dropdown{active_if(@filter[:dismissal])}
        = link_to '#', :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'} do
          #{@filter[:dismissal] ? @filter[:dismissal][:name] : "By Dismissal"}
          %b.caret
        %ul.dropdown-menu(role="menu" aria-labelledby="dropdown")
          - @all_dismissals.each do |d|
            %li
              = link_to d[:name], semester_enrollments_path(@semester, :filter_dismissal => d[:id]), :tabindex => '-1' 
      %li.module-heading-action
    %h3.print-heading-sub
      = enrollment_index_heading(@filter)

    .module-content   
      %table.data-table.full-width
        %thead
        - days.each do |day|
          %tbody
            %tr.success
              %td.centered(colspan=6)
                %b= day.to_s.capitalize
          - if @enrollments_by_day[day] && @enrollments_by_day[day].length > 0
            %thead
              %tr
                %td
                  First Name
                %td
                  Last Name
                %td
                  Class
                %td
                  Time
                %td
                  Room
                - if !@filter[:dismissal]
                  %td
                    Dismissal
            %tbody
              - @enrollments_by_day[day].each do |enrollment|
                %tr
                  %td
                    = link_to enrollment.student.first_name, student_path(enrollment.student)
                  %td
                    = link_to enrollment.student.last_name, student_path(enrollment.student)
                  %td
                    = link_to enrollment.course.name_with_grade_level, course_path(enrollment.course)
                  %td
                    = enrollment.course.time_range
                  %td
                    - if enrollment.course.classroom
                      = link_to enrollment.course.classroom.name, classroom_path(enrollment.course.classroom)
                  - if !@filter[:dismissal]
                    %td
                      = enrollment.dismissal_to_s
          - else
            %tr
              %td.centered(colspan=6)
                None

- content_for :js do
  :javascript


