-# This file is app/views/enrollments/index.html.haml
!!! 5

- content_for :title, enrollment_index_heading(@filter)

.row
  .span12
    %ul.module-heading-tabs
      %li.module-heading-tab{active_if(@filter.empty?)}
        = link_to "All", semester_enrollments_path(@semester)
      %li.module-heading-tab.dropdown{active_if(@filter[:teacher])}
        = link_to '#', :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'} do
          #{@filter[:teacher] ? @filter[:teacher].teacher_with_grade : "By Teacher"}
          %b.caret
        %ul.dropdown-menu(role="menu" aria-labelledby="dropdown")
          - @all_teachers.each do |t|
            %li
              = link_to t.teacher_with_grade, semester_enrollments_path(@semester, :filter_teacher => t.id), :tabindex => '-1'
      %li.module-heading-tab.dropdown{active_if(@filter[:dismissal])}
        = link_to '#', :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'} do
          #{@filter[:dismissal] ? @filter[:dismissal][:name] : "By Dismissal"}
          %b.caret
        %ul.dropdown-menu(role="menu" aria-labelledby="dropdown")
          - @all_dismissals.each do |d|
            %li
              = link_to d[:name], semester_enrollments_path(@semester, :filter_dismissal => d[:id]), :tabindex => '-1'
      %li.module-heading-form
        - form_params = params.merge(view_by_student: nil, view_by_grade: nil, hide_class_time_and_room: nil)
        = form_tag url_for(form_params), :method => 'get', :class => 'form-inline', :id => 'filter-form' do
          - if @filter[:teacher]
            = hidden_field_tag :filter_teacher, @filter[:teacher].id
          - if @filter[:dismissal]
            = hidden_field_tag :filter_dismissal, @filter[:dismissal][:id]
          = label_tag 'view_by_student', :class => 'checkbox filter-checkbox' do
            = check_box_tag 'view_by_student', '1', params[:view_by_student]
            View by student
          &nbsp;&nbsp;
          = label_tag 'view_by_grade', :class => 'checkbox filter-checkbox' do
            = check_box_tag 'view_by_grade', '1', params[:view_by_grade]
            View by grade
          &nbsp;&nbsp;
          = label_tag 'view_disenrolled', :class => 'checkbox filter-checkbox' do
            = check_box_tag 'view_disenrolled', '1', params[:view_disenrolled]
            Include disenrolled
          &nbsp;&nbsp;
          = label_tag 'hide_class_time_and_room', :class => 'checkbox filter-checkbox' do
            = check_box_tag 'hide_class_time_and_room', '1', params[:hide_class_time_and_room]
            Hide class time and room

    %h4.print-heading-sub
      = enrollment_index_heading(@filter)

    - columns = 3

    .module-content
      %table.data-table.full-width
        %thead
          %tr
            - if @view[:by_grade]
              - columns = columns + 1
              %td
                Grade
            %td
              First Name
            %td
              Last Name
            - if @view[:by_student]
              - columns = columns + 1
              %td
                Day
            %td
              Class
            - if !params[:hide_class_time_and_room]
              - columns = columns + 2
              %td
                Time
              %td
                Room
            - if !@filter[:dismissal] && !@filter[:teacher]
              - columns = columns + 1
              %td
                Dismissal
        %tbody
        - if @view[:by_student]
          - @enrollments.each do |enrollment|
            = render partial: 'enrollment_row', locals: { enrollment: enrollment }
        - else
          - days.each do |day|
            %tbody
              %tr.success
                %td.centered{:colspan => columns}
                  %b= day.to_s.capitalize
            - if @enrollments_by_day[day] && @enrollments_by_day[day].length > 0
              %tbody
                - @enrollments_by_day[day].each do |enrollment|
                  = render partial: 'enrollment_row', locals: { enrollment: enrollment }

- content_for :js do
  :javascript
    $(function() {
      $('.filter-checkbox').click(function(){
        $('#filter-form').submit();
      });
    });


