.module-heading
  .module-heading-title Classes in Room

.module-content
  %table.data-table.full-width#courses
    %thead
      %tr.no-select
        %td
          Name
        %td
          Instructor
        %td
          Time
    %tbody
      - if @teacher.courses.any?
        - @teacher.courses.each do |course|
          %tr.course-info
            %td.course-name
              = link_to course.name_with_day_and_grade_level, course_path(course)
            %td.course-instructor
              - if course.ptainstructor
                = link_to "#{course.ptainstructor.first_name} #{course.ptainstructor.last_name}", ptainstructor_path(course.ptainstructor)
            %td.course-time
              - if course.start_time && course.end_time
                = "#{course.start_time} - #{course.end_time}"
      - else
        %tr
          %td(colspan=3 style="text-align:center;")
            None

- content_for :js do
  :javascript
