-# This file is app/views/teacher/index.html.haml
!!! 5

%html{:lang => "en"}
  %head
    %title
      Session List
    = stylesheet_link_tag("frontpage")
    = javascript_include_tag("application")
  %body
    %div#container
      = render :partial => "partial/topbar", :locals => {:semester => @semester}
      = render :partial => "partial/flash_messages"
      %h1{:style=>"text-align:center;"}
        Current Classroom Teachers
      .vspace20
      /%table{:class => "table table-striped table-hover"}
      %table.teachers.table-striped.table-bordered.table-hover{:style=>"width:100%;text-align:center;"}
        %thead
          %tr
            %td.cell_right{:colspan => "5", :style=>"text-align:right;padding:10px 10px;"}
              = link_to "Add New Classroom Teacher", new_semester_teacher_path
          %tr.no-select
            %td
              Teacher Name
              %span#sort-by-lastname
                A&rarr;Z
            %td
              Grade
            %td
              Location
            %td
              Edit Entry
            %td
              Delete Entry
        %tbody
          - @teachers.each do |teacher|
            %tr.teacher-info
              %td.cell_center.teacher-name
                = teacher.name
              %td.cell_center.teacher-grade
                = teacher.grade
              %td.cell_center.teacher-classroom
                = teacher.classroom
              %td.cell_center.teacher-edit
                = button_to "Edit", edit_semester_teacher_path(@semester,teacher), :method => :get, :class => "btn btn-warning"
              %td.cell_center.teacher-delete
                = button_to "Delete", semester_teacher_path(@semester, teacher), :method => :delete, :class => "btn btn-danger" unless not teacher.can_be_deleted?
                = "Teacher is currently referenced and cannot be deleted" unless teacher.can_be_deleted?

    :javascript
      $(function() {
        $("#navbar-teachers").addClass('active');

        rows = [];
        $("table.teachers tbody tr.teacher-info").each(function() {
          $tr = $(this);
          $teacherLastName = $.trim($tr.children(".teacher-name").text()).split(' ')[1];
          $teacherGrade = $.trim($tr.children(".teacher-grade").text());
          if ($teacherGrade == 'K' || $teacherGrade == 'k') {
            $teacherGrade = '0';
          }
          // $teacherClassroom = $.trim($tr.children(".teacher-classroom").text());
          // $teacherEdit = $tr.children(".teacher-edit");
          // $teacherDelete = $tr.children(".teacher-delete");
          rows.push({
            'tr': $tr,
            'lastname': $teacherLastName,
            'teachergrade': $teacherGrade,
          });
        });

        function teacherSort(property, reverse) {
          reverse = (typeof reverse === "undefined") ? 0 : reverse;
          // property: 'lastname' or 'grade'
          rows.sort(function(a,b) {
            if (reverse) {
              return a[property] < b[property];
            } else {
              return a[property] > b[property];
            }
          });
          $("table.teachers tbody").html(rows[0].tr);
          // start with the second
          for (var i=1; i<rows.length; i++) {
            $("table.teachers tbody").append(rows[i].tr);
          }
        }

        $("#sort-by-lastname").click(function() {
          reverse = 0;
          if ($(this).attr('data-reverse')) {
            // unset data-reverse for next time
            reverse = 1;
            $(this).removeAttr('data-reverse');
            $(this).attr('class','highlight-reverse');
          } else {
            // if not set then set for next time
            $(this).attr('data-reverse',1);
            $(this).attr('class','highlight');
          }
          teacherSort('lastname', reverse);
        });
      });










