-# This file is app/views/teacher/index.html.haml
!!! 5

%html{:lang => "en"}
  %head
    %title
      Session List
    = stylesheet_link_tag("frontpage")
    = javascript_include_tag("application")
  %body
    %div#container
      = render :partial => "partial/topbar", :locals => {:semester => @semester}
      = render :partial => "partial/flash_messages"
      %h1{:style=>"text-align:center;"}
        Current Classroom Teachers
      .vspace20
      = link_to "+ Add New Classroom Teacher", new_semester_teacher_path, :style => "float:right;"
      .clear
      .vspace10
      %table.teachers.table-bordered.table-striped.table-hover{:style=>"width:100%;text-align:center;"}
        %thead
          %tr.no-select
            %td
              Teacher Name
              %span.sort-by#sort-by-lastname
                A
                %span
                  ="~"
                Z
            %td
              Grade
              %span.sort-by#sort-by-grade
                K
                %span
                  ="~"
                5
            %td
              Location
            %td
            %td
        %tbody
          - if @teachers
            - @teachers.each do |teacher|
              %tr.teacher-info.padding-rows
                %td.cell_center.teacher-name
                  = teacher.name
                %td.cell_center.teacher-grade
                  = teacher.grade
                %td.cell_center.teacher-classroom
                  = teacher.classroom
                %td.cell_center.teacher-edit
                  = button_to "Edit", edit_semester_teacher_path(@semester,teacher), :method=>"get", :class=>"btn btn-warning edit-delete"
                %td.cell_center.teacher-delete
                  - if teacher.can_be_deleted?
                    = button_to "Delete", semester_teacher_path(@semester, teacher), :method => :delete, :class => "btn btn-danger edit-delete"
                  - else
                    %span.referenced-tooltip{"data-original-title"=>"Referenced by one or more courses or students. Remove the teacher from all referencing courses and students to delete."}
                      = "Referenced"
      .vspace10

    :javascript
      $(function() {
        $("#navbar-teachers").addClass('active');
        $("span.referenced-tooltip").tooltip();

        rows = [];
        $("table.teachers tbody tr.teacher-info").each(function() {
          $tr = $(this);
          $teacherLastName = $.trim($tr.children(".teacher-name").text()).split(' ')[1];
          $teacherGrade = $.trim($tr.children(".teacher-grade").text());
          if ($teacherGrade == 'K' || $teacherGrade == 'k') {
            $teacherGrade = '0';
          }
          // $teacherClassroom = $.trim($tr.children(".teacher-classroom").text());
          // $teacherEdit = $tr.children(".teacher-edit");
          // $teacherDelete = $tr.children(".teacher-delete");
          rows.push({
            'tr': $tr,
            'lastname': $teacherLastName,
            'grade': $teacherGrade,
          });
        });
        console.log(rows);

        function teacherSort(property, reverse) {
          reverse = (typeof reverse === "undefined") ? 0 : reverse;
          // property: 'lastname' or 'grade'
          rows.sort(function(a,b) {
            if (reverse) {
              return a[property] < b[property];
            } else {
              return a[property] > b[property];
            }
          });
          $("table.teachers tbody").html(rows[0].tr);
          // start with the second
          for (var i=1; i<rows.length; i++) {
            $("table.teachers tbody").append(rows[i].tr);
          }
        }

        $("#sort-by-lastname").click(function() {
          // clear other elements' formatting, first line has to be for this element too
          $(".sort-by").removeClass('highlight-green highlight-red');
          $(this).siblings(".sort-by").children('span').html('~');
           
          temp = $(this).attr('data-reverse');
          $(".sort-by").removeAttr('data-reverse');
          $(this).attr('data-reverse',temp);
          reverse = 0;
          if ($(this).attr('data-reverse') == 1) {
            reverse = 1;
            $(this).removeAttr('data-reverse');
            $(this).addClass('highlight-red');
            $(this).children('span').html('&larr;');
          } else {
            $(this).attr('data-reverse',1);
            $(this).addClass('highlight-green');
            $(this).children('span').html('&rarr;');
          }
          teacherSort('lastname', reverse);
        });

        $("#sort-by-grade").click(function() {
          // clear other elements' formatting
          $(".sort-by").removeClass('highlight-green highlight-red');
          $(this).siblings(".sort-by").children('span').html('~');

          temp = $(this).attr('data-reverse');
          $(".sort-by").removeAttr('data-reverse');
          $(this).attr('data-reverse',temp);

          reverse = 0;
          if ($(this).attr('data-reverse') == 1) {
            reverse = 1;
            $(this).removeAttr('data-reverse');
            $(this).addClass('highlight-red');
            $(this).children('span').html('&larr;');
          } else {
            $(this).attr('data-reverse',1);
            $(this).addClass('highlight-green');
            $(this).children('span').html('&rarr;');
          }
          teacherSort('grade', reverse);
        });
      });










