-# This file is app/views/teacher/index.html.haml
!!! 5

%html{:lang => "en"}
  %head
    %title
      Session List
    = stylesheet_link_tag("frontpage")
    = javascript_include_tag("application")
  %body
    %div#container
      = render :partial => "partial/topbar", :locals => {:semester => @semester}
      = render :partial => "partial/flash_messages"
      %h1{:style=>"text-align:center;"}
        Current Classroom Teachers
      .vspace20
      = link_to "Add New Classroom Teacher", new_semester_teacher_path, :style => "float:right;"
      .clear
      .vspace10
      %table.teachers.table-striped.table-bordered.table-hover{:style=>"width:100%;text-align:center;"}
        %thead
          %tr.no-select
            %td
              Teacher Name
              %span#sort-by-lastname
                A
                %span
                  ="~"
                Z
            %td
              Grade
              %span#sort-by-grade
                K
                %span
                  ="~"
                4
            %td
              Location
            %td
              Edit Entry
            %td
              Delete Entry
        %tbody
          - @teachers.each do |teacher|
            %tr.teacher-info
              %td.cell_center.teacher-name
                = teacher.name
              %td.cell_center.teacher-grade
                = teacher.grade
              %td.cell_center.teacher-classroom
                = teacher.classroom
              %td.cell_center.teacher-edit
                %a.btn.btn-warning{:href=>"#{edit_semester_teacher_path(@semester,teacher)}", :method=>"get", :style=>"width:42px;height:15px;line-height:15px;margin:4px auto;"}
                  Edit
                  %i.icon-pencil.icon-white
              %td.cell_center.teacher-delete
                - if teacher.can_be_deleted?
                  = button_to "Delete", semester_teacher_path(@semester, teacher), :method => :delete, :class => "btn btn-danger"
                - else
                  = "Referenced"
      .vspace10
      %p
        %i * Referenced means that it is associated with a course and thus cannot be deleted.
        %br
        %i Delete the course first to delete the PTA Instructor.

    :javascript
      $(function() {
        $("#navbar-teachers").addClass('active');

        rows = [];
        $("table.teachers tbody tr.teacher-info").each(function() {
          $tr = $(this);
          $teacherLastName = $.trim($tr.children(".teacher-name").text()).split(' ')[1];
          $teacherGrade = $.trim($tr.children(".teacher-grade").text());
          if ($teacherGrade == 'K' || $teacherGrade == 'k') {
            $teacherGrade = '0';
          }
          // $teacherClassroom = $.trim($tr.children(".teacher-classroom").text());
          // $teacherEdit = $tr.children(".teacher-edit");
          // $teacherDelete = $tr.children(".teacher-delete");
          rows.push({
            'tr': $tr,
            'lastname': $teacherLastName,
            'grade': $teacherGrade,
          });
        });
        console.log(rows);

        function teacherSort(property, reverse) {
          reverse = (typeof reverse === "undefined") ? 0 : reverse;
          // property: 'lastname' or 'grade'
          rows.sort(function(a,b) {
            if (reverse) {
              return a[property] < b[property];
            } else {
              return a[property] > b[property];
            }
          });
          $("table.teachers tbody").html(rows[0].tr);
          // start with the second
          for (var i=1; i<rows.length; i++) {
            $("table.teachers tbody").append(rows[i].tr);
          }
        }

        $("#sort-by-lastname").click(function() {
          $("#sort-by-grade").removeAttr('class');
          $("#sort-by-grade").children('span').html('~');
          $("#sort-by-grade").removeAttr('data-reverse');
          reverse = 0;
          if ($(this).attr('data-reverse') == 1) {
            // unset data-reverse for next time
            reverse = 1;
            $(this).removeAttr('data-reverse');
            $(this).attr('class','highlight-reverse');
            $(this).children('span').html('&larr;');
          } else {
            // if not set then set for next time
            $(this).attr('data-reverse',1);
            $(this).attr('class','highlight');
            $(this).children('span').html('&rarr;');
          }
          teacherSort('lastname', reverse);
        });

        $("#sort-by-grade").click(function() {
          $("#sort-by-lastname").removeAttr('class');
          $("#sort-by-lastname").children('span').html('~');
          $("#sort-by-lastname").removeAttr('data-reverse');
          reverse = 0;
          if ($(this).attr('data-reverse') == 1) {
            // unset data-reverse for next time
            reverse = 1;
            $(this).removeAttr('data-reverse');
            $(this).attr('class','highlight-reverse');
            $(this).children('span').html('&larr;');
          } else {
            // if not set then set for next time
            $(this).attr('data-reverse',1);
            $(this).attr('class','highlight');
            $(this).children('span').html('&rarr;');
          }
          teacherSort('grade', reverse);
        });
      });










