-# This file is app/views/teachers/new.html.haml
!!! 5

- content_for :title, "New Classroom"

.row
  .span5.module#teacher-edit
    .module-heading
      .module-heading-title New Classroom
      
    .module-content
      = form_tag semester_teachers_path(@semester), :class =>"form-horizontal" do
        .control-group
          = label :teacher, :classroom, 'Classroom', :class => "control-label"
          .controls
            = text_field :teacher, :classroom

        .control-group 
          = label :teacher, :name, 'Teacher', :class => "control-label"
          .controls
            = text_field :teacher, :name

        .control-group
          = label :teacher, :grade, 'Grade', :class => "control-label"
          .controls
            = select_tag "teacher[grade]", grade_options_for_select(@teacher.allowable_grades, @teacher.grade),
                :prompt => 'Select Grade'

        .control-group
          .controls
            = submit_tag 'Add Classroom', :class => "btn btn-info"
            = link_to 'Cancel', semester_teachers_path(@semester) , :class => "btn btn-info"

- content_for :js do
  :javascript

