.module
  .module-heading
    .module-heading-title= course.name_with_day_and_grade_level
    .module-heading-action= link_to 'Edit', edit_course_path(course)
    
  .module-content
    %table.attribute-table.print-bigger
      %tr
        %td.attribute-label
          Instructor:
        %td.attribute-value
          - if course.instructor
            = link_to course.instructor.full_name_first_last, instructor_path(course.instructor)
      %tr
        %td.attribute-label
          Room:
        %td.attribute-value
          - if course.classroom
            = link_to "#{course.classroom.name_with_teacher_name}", classroom_path(course.classroom)
      %tr
        %td.attribute-label
          Day:
        %td.attribute-value
          = course.days.join(", ")     
      %tr
        %td.attribute-label
          Time:
        %td.attribute-value
          = course.time_range
      %tr
        %td.attribute-label
          Grades:
        %td.attribute-value
          = course.grade_range
      %tr
        %td.attribute-label
          Min/max:
        %td.attribute-value
          #{course.class_min}/#{course.class_max}
      %tr
        %td.attribute-label
          Meetings:
        %td.attribute-value
          = course.number_of_classes
      %tr.noprint
        %td.attribute-label
          Class fee:
        %td.attribute-value
          #{sprintf("$%0.2f", course.course_fee)}
      %tr.noprint
        %td.attribute-label
          Per meeting fee:
        %td.attribute-value
          #{sprintf("$%0.2f", course.fee_per_meeting)}
      %tr.noprint
        %td.attribute-label
          Material fee:
        %td.attribute-value
          #{sprintf("$%0.2f", course.fee_for_additional_materials)}
      %tr
        %td.attribute-label
          Total fee:
        %td.attribute-value
          %b
            #{sprintf("$%0.2f", course.total_fee)}

    %br    
    %p.noprint
      Description:
      %br
      = course.description
    