.module
  .module-heading
    .module-heading-title Enrolled Students
    .module-heading-action= link_to 'Less Detail', course_path(course)
  
  .module-content
    %table.data-table.full-width#enrollment-table
      %thead
        %tr
          %td
            = '#'
          %td
            Name
          %td
            Grade
          %td
            Room
          %td
            Dismissal
          %td
            Parent
          %td
            Phone
          %td
            Email
          %td
            Health Alert
      %tbody
        - if course.enrollments.enrolled.any?
          - course.enrollments.enrolled.by_student_name.each_with_index do |enrollment, index|
            - student = enrollment.student
            %tr
              %td
                = index + 1
              %td
                = link_to student.full_name, student_path(student)
              %td
                = student.grade
              %td
                = link_to "#{student.classroom.name}", classroom_path(student.classroom)
              %td
                = enrollment.dismissal_to_s
              %td
                = student.parent_name
              %td
                = student.parent_phone
                = student.parent_phone2
              %td
                = student.parent_email
              %td
                = student.health_alert
        - else
          %tr
            %td(colspan=8)
              No enrollments yet