-# This file is app/views/courses/edit.html.haml
!!! 5

= csrf_meta_tags

%html
  %head
    %title
      Edit Course
    = stylesheet_link_tag("frontpage")
    = javascript_include_tag("application")
  %body
    %div#container
      = render :partial => "partial/topbar", :locals => {:semester => @semester}
      = render :partial => "partial/course_error", :locals => {:course => @course}
      .clear
      %h1.center
        Edit Course
      %div.span8.offset2
        = form_tag course_path(@course), :method => "put", :class =>"form-horizontal" do
          %div.control-group 
            = label :course, :name, 'Course Name:', :class => "control-label"
            %div.controls
              = text_field :course, :name

          %div.control-group
            = label :temp, :ptainstructor_id, 'PTA Instructor:', :class => "control-label"
            %div.controls
              = select_tag "course[ptainstructor_id]", options_from_collection_for_select(@ptainstructors, :id, :full_name_first_last, @course.ptainstructor_id),:class => "course_select"

          %div.control-group
            = label :course, :description, 'Description:', :class => "control-label"
            %div.controls
              = text_area :course, :description, :rows => 5

          %div.control-group
            = label :course, :start_time, 'Start Time:', :class => "control-label"
            %div.controls
              = text_field :course, :start_time, :placeholder => "e.g. 3:00PM"
          
          %div.control-group
            = label :course, :end_time, 'End Time:', :class => "control-label"
            %div.controls
              = text_field :course, :end_time, :placeholder => "e.g.  5:00PM"

          // start of DAYS

          .vspace20

          %div.control-group
            .days
              = label :course, 'Sun:', :class => "control-label checkbox inline"
              %div.controls
                = check_box :course, :sunday

            .days
              = label :course, 'Mon:', :class => "control-label checkbox inline"
              %div.controls
                = check_box :course, :monday

            .days
              = label :course, 'Tue:', :class => "control-label checkbox inline"
              %div.controls
                = check_box :course, :tuesday

            .days
              = label :course, 'Wed:', :class => "control-label checkbox inline"
              %div.controls
                = check_box :course, :wednesday

            .days
              = label :course, 'Thu:', :class => "control-label checkbox inline"
              %div.controls
                = check_box :course, :thursday

            .days
              = label :course, 'Fri:', :class => "control-label checkbox inline"
              %div.controls
                = check_box :course, :friday

            .days
              = label :course, 'Sat:', :class => "control-label checkbox inline"
              %div.controls
                = check_box :course, :saturday
              .clear
            .clear
            
            .vspace20

          // end of DAYS

          %div.control-group
            = label :temp, :location, 'Location:', :class => "control-label"
            %div.controls
              = select_tag "course[teacher_id]", options_from_collection_for_select(@teachers, :id, :classroom, @course.teacher_id), :class => "course_select"

          %div.control-group
            = label :course, :grade_range, 'Eligible Grades:', :class => "control-label"
            %div.controls
              = text_field :course, :grade_range

          %div.control-group{:style=>"width:200px;"}
            = label :course, :class_min, 'Min. Class Size:', :class => "control-label"
            %div.controls
              = text_field :course, :class_min, :class => "span1"

          %div.control-group{:style=>"width:200px;"}
            = label :course, :class_max, 'Max. Class Size:', :class => "control-label"
            %div.controls
              = text_field :course, :class_max, :class => "span1"
          .clear

          %div.control-group
            = label :course, :fee_per_meeting, 'Price Per Student Per Meeting:', :class => "control-label"
            %div.controls
              = text_field :course, :fee_per_meeting

          %div.control-group
            = label :course, :number_of_classes, 'Number of Meetings:', :class => "control-label"
            %div.controls
              = text_field :course, :number_of_classes
              = link_to "Calculate", "#", :id => "calc_meeting_number"

          %div.control-group
            = label :course, :fee_for_additional_materials, 'Fee for Additional Materials:', :class => "control-label"
            %div.controls
              = text_field :course, :fee_for_additional_materials

          %div.control-group
            = label :course, :total_fee, 'Total Fee:', :class => "control-label"
            %div.controls
              = text_field :course, :total_fee
              = link_to "Calculate", "#", :id => "calc_total_fee"

          %div.control-group
            %div.controls
              = submit_tag 'Update Course', :class => "btn btn-warning"
              = link_to 'Cancel', semester_courses_path(@semester), :class => "btn"
          .clear
          .vspace80

    :javascript
      $("#navbar-courses").addClass('active');
      $("#calc_meeting_number").click(function(event) {
          event.preventDefault();
          var jsonObj = {};
          jsonObj[7] = $("#course_sunday").attr('checked');
          jsonObj[1] = $("#course_monday").attr('checked');
          jsonObj[2] = $("#course_tuesday").attr('checked');
          jsonObj[3] = $("#course_wednesday").attr('checked');
          jsonObj[4] = $("#course_thursday").attr('checked');
          jsonObj[5] = $("#course_friday").attr('checked');
          jsonObj[6] = $("#course_saturday").attr('checked');
          $.ajax({
            type: "POST",
            url: "#{calculate_meetings_for_course_path}",
            dataType: "json",
            data: jsonObj
          }).done(function(data) {
            $("#course_number_of_classes").val(data);
          });
        });
        $("#calc_total_fee").click(function(event) {
          event.preventDefault();
          var course_fee = $("#course_fee_per_meeting").val();
          var course_number = $("#course_number_of_classes").val();
          var additional_fees = $("#course_fee_for_additional_materials").val();
          if(!isNaN(course_fee) && !isNaN(course_number) && !isNaN(additional_fees)){
            var total = Number(course_fee) * Number(course_number) + Number(additional_fees);
            $("#course_total_fee").val(total);
          }else{
            alert('"Price Per Student Per Meeting", "Number of Meetings", or "Fee for Additional Materials" does not contain a valid number');
          }
        });

