-# This file is app/views/semesters/index.html.haml
!!! 5

- content_for :title, course_index_heading(@filter)

.row
  .span12.module
    %ul.module-heading-tabs
      %li.module-heading-tab{active_if(@filter.empty?)}
        = link_to "All", semester_courses_path(@semester)
      %li.module-heading-tab{active_if(@filter[:enrollment] == 'full')}
        = link_to "Full", semester_courses_path(@semester, :filter_enrollment => 'full')
      %li.module-heading-tab{active_if(@filter[:enrollment] == 'overenrolled')}
        = link_to "Overenrolled", semester_courses_path(@semester, :filter_enrollment => 'overenrolled')
      %li.module-heading-tab{active_if(@filter[:enrollment] == 'underenrolled')}
        = link_to "Underenrolled", semester_courses_path(@semester, :filter_enrollment => 'underenrolled')
      %li.module-heading-action
        = link_to "+ Add Class", new_semester_course_path
    %h3.print-heading-sub
      = course_index_heading(@filter)
              
    .module-content
      %table.data-table.full-width#classes
        %thead
          %tr
            %td
              Name
            %td
              Instructor
            %td
              Day
            %td
              Time
            %td
              Room
            %td
              Enrolled
            %td.action
        %tbody
          - if !@courses.empty?
            - @courses.each do |course|
              %tr
                %td
                  = link_to course.name_with_grade_level, course_path(course)
                %td
                  - if course.instructor
                    = link_to "#{course.instructor.first_name} #{course.instructor.last_name}", instructor_path(course.instructor)
                %td
                  = course.abbrev_days.join(", ")
                %td
                  - if course.start_time && course.end_time
                    = "#{course.start_time} - #{course.end_time}"
                %td
                  - if course.classroom
                    = course.classroom.name
                %td.course-enrolled{:class => course.overenrolled? ? "error" : (course.underenrolled? ? "warning" : (course.full? ? "info" : ""))}
                  = course.num_valid_enrollments
                  - if course.class_min_max_range && !course.class_min_max_range.blank?
                    &nbsp;
                    %span.muted= "(#{course.class_min_max_range})"
                %td.action
                  = link_to edit_course_path(course), :class => "edit-delete" do
                    %i.icon-pencil
                  = link_to course_path(course), :method => :delete, :class => "edit-delete", 
                      :data => { :confirm => "Are you sure you want to delete \"#{course.name}\"?  Doing so will also delete all the enrollments for students that are associated with this course.  Are you really sure you want to delete \"#{course.name}\" course and all enrollments of students thare are associated with it?" } do
                    %i.icon-trash
          - else
            %tr
              %td.centered(colspan=7)
                None

- content_for :js do
  :javascript
    $(function() {
    });
