-# This file is app/views/semesters/index.html.haml
!!! 5

%html
  %head
    %title
      Session List
    = stylesheet_link_tag("frontpage")
    = javascript_include_tag("application")
  %body
    %div#container
      = render :partial => "partial/topbar", :locals => {:semester => @semester}
      = render :partial => "partial/flash_messages"
      %h1{:style=>"text-align:center;"}
        Courses
      = link_to "+ Add New Course", new_semester_course_path, :style => "float:right;"
      .clear
      .vspace20
      %table.courses.table-striped.table-hover{:style=>"width:100%;text-align:center;font-size:0.9em;"}
        %thead
          %tr.no-select
            %td
              Name
              %span.sort-by#sort-by-name
                A
                %span
                  ="~"
                Z
            %td
              PTA Instructor
              %span.sort-by#sort-by-ptainstructor
                A
                %span
                  ="~"
                Z
            %td
              Days
            %td
              Time
            %td
              Room
            %td
              Enrolled
            %td
            %td
        %tbody
          - if @courses
            - @courses.each do |course|
              %tr.course-info
                %td.cell_center.course-name
                  = course.name
                %td.cell_center.course-ptainstructor
                  = "#{course.ptainstructor.last_name}, #{course.ptainstructor.first_name}"
                %td.cell_center.course-days
                  - if course.sunday
                    Su
                  - if course.monday
                    M
                  - if course.tuesday
                    Tu
                  - if course.wednesday
                    W
                  - if course.thursday
                    Th
                  - if course.friday
                    F
                  - if course.saturday
                    Sa
                %td.cell_center.course-time
                  = "#{course.start_time} - #{course.end_time}"
                %td.cell_center.course-room
                  = course.teacher.classroom || "-"
                %td.cell_center.course-enrolled
                  = @enrollmentHash[course.id]
                %td.cell_center.course-edit
                  = button_to "Edit", edit_semester_course_path(@semester,course), :method=>"get", :class=>"btn btn-warning edit-delete"
                %td.cell_center.course-delete
                  = button_to "Delete", semester_course_path(@semester, course), :method => :delete, :class => "btn btn-danger edit-delete", :data => { :confirm => "Are you sure you want to delete #{course.name}?" }
      .vspace10

    :javascript
      $(function() {
        $("#navbar-courses").addClass('active');
      });
