.module-heading
  .module-heading-title Enrolled Classes
  .module-heading-action
    = link_to "+ Add Class", "#",
        :onclick => "$('#enrollment-detail').load('#{new_enrollment_for_student_path(student)} #main')"

.module-content
  %table.data-table.full-width
    %thead
      %tr
        %td
          = '#'
        %td
          Name
        %td
          Status
        %td
          Fee
        %td.action

    %tbody
      - if enrollments.length > 0
        - enrollments.each_with_index do |enrollment, index|
          %tr
            %td
              = link_to "#{index+1}", "#", 
                  :class => "enrollment-edit", :id => "enrollment_index_#{enrollment.course.id}_link",
                  :onclick => "$('#enrollment-detail').load('#{show_enrollment_for_student_path(student, :course_id => enrollment.course.id)} #main')"
            %td
              = link_to enrollment.course.name_with_day_and_grade_level, course_path(enrollment.course)
            %td
              = enrollment.enrolled_to_s
            %td
              = dollar_amount(enrollment.total_fee, :starred => (enrollment.scholarship_amount and (enrollment.scholarship_amount > 0)))
            %td.action
              = link_to "#", 
                  :class => "edit-delete", :id => "enrollment_index_#{enrollment.course.id}_link",
                  :onclick => "$('#enrollment-detail').load('#{edit_enrollment_for_student_path(student, :course_id => enrollment.course.id)} #main')" do
                %i.icon-pencil
              = link_to destroy_enrollment_for_student_path(student, :course_id => enrollment.course_id), :method => :post, :class => "edit-delete",
                  :data => { :confirm => "Are you sure you want to delete the enrollment in #{enrollment.course.name_with_day_and_grade_level}?" } do
                %i.icon-trash
      - else
        %tr
          %td.centered(colspan=5)
            None
    - if enrollments.length > 0
      %tfoot
        %tr
          %td.right-aligned(colspan=3)
            %b
              Registration Fee
          %td
            %b
              = "$" + number_with_precision(semester.fee, :precision => 2)
          %td
        %tr
          %td.right-aligned(colspan=3)
            %b
              Total Fee
          %td
            %b
              - if (student.grand_total)
                = "$" + number_with_precision(student.grand_total, :precision => 2)
          %td
