.row
  .span6
    .module-heading
      .module-heading-title Add Class
    .module-content
      = form_tag create_enrollment_for_student_path(@student), :method => :post, :class =>"form-horizontal", :style=>"display:inline;" do
        .control-group
          = label :enrollment, :course, 'Class', :class => "control-label"
          .controls
            = select_tag "enrollment[course_id]", options_for_select(@classes.map{|c| [c.name_with_day_and_grade_level, c.id]}), 
                :prompt => 'Select Class', :class => "course_select"
      
        .control-group
          .control-label Scholarship
          .controls
            = label :enrollment, :scholarship, :class => "radio inline" do
              = radio_button :enrollment, :scholarship, 0, :id => "scholarship-none"
              None
            = label :enrollment, :scholarship, :class => "radio inline" do
              = radio_button :enrollment, :scholarship, 1, :id => "scholarship-full"
              Full
            = label :enrollment, :scholarship, :class => "radio inline" do
              = radio_button :enrollment, :scholarship, 2, :id => "scholarship-partial"
              Partial
    
        .control-group#scholarship-amount-group{:style => @enrollment.scholarship <> 2 ? "display:none;" : ""}
          = label :enrollment, :scholarship_amount, 'Scholarship amount', :class => "control-label"
          .controls
            .input-prepend
              %span.add-on $
              = text_field :enrollment, :scholarship_amount, :value => @enrollment.scholarship_amount ? sprintf("%0.2f", @enrollment.scholarship_amount) : '', 
                  :class => "span1", :id => "scholarship-amount"
            
        .control-group
          .control-label Dismissal
          .controls
            = label :enrollment, :dismissal, :class => "radio inline" do
              = radio_button :enrollment, :dismissal, 0
              Pickup
            = label :enrollment, :dismissal, :class => "radio inline" do
              = radio_button :enrollment, :dismissal, 1
              JAZ
            = label :enrollment, :dismissal, :class => "radio inline" do
              = radio_button :enrollment, :dismissal, 2
              BEARS
            = label :enrollment, :dismissal, :class => "radio inline" do
              = radio_button :enrollment, :dismissal, 3
              Walk
      
        .control-group
          .controls
            = submit_tag 'Add New Enrollment', :id => "enrollment_submit", :class => "btn btn-warning"
            = link_to 'Cancel', student_path(@student) , :id => "enrollment_cancel", :class => "btn btn-info"