-# This file is app/views/user_sessions/new.html.haml
!!! 5

- content_for :title, "Login"
- content_for :css do
  :css
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin-heading {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
- content_for :content do
  = form_tag user_sessions_path, :method => :post, :id=> 'login_form', :class => 'form-signin' do
    %h2.form-signin-heading 
      = application_name
    = render 'partial/user_sessions_messages'
    = text_field :user_session, :username, :class => "input-block-level", :placeholder => "Username"
    = password_field :user_session, :password, :class => "input-block-level", :placeholder => "Password"
    = submit_tag 'Sign in', :id => 'login_submit', :class => 'btn btn-large btn-primary'


