-# This file is app/views/reports/instructor_fee_report.html.haml
!!! 5

- content_for :title, report_index_heading(@report)

.row
  .span12
    .module-heading
      .module-heading-title= @report.name

    .module-content
      %table.data-table.full-width
        %thead
          %tr
            %td
              Instructor
            %td
              Class
            %td.right-aligned
              Mtgs
            %td.right-aligned
              $/Mtg
            %td.right-aligned
              Addl $
            %td.right-aligned
              $/Stdnt
            %td.right-aligned
              Stdnts
            %td.right-aligned
              PTA Schol.
            %td.right-aligned
              Instr. Schol.
            %td.right-aligned
              Bill. Stdnts
            %td.right-aligned
              Total Due
            %td.right-aligned
              Invoiced
        %tbody
          - if @report.instructors.length > 0
            - @report.instructors.each do |instructor_data|
              %tr
                %td(colspan=2)
                  = link_to instructor_data.instructor.full_name_first_last, instructor_path(instructor_data.instructor)
                %td
                %td.right-aligned
                %td.right-aligned
                %td.right-aligned
                %td.right-aligned
                %td.right-aligned
                %td.right-aligned
                  %b= instructor_data.total_instructor_scholarships
                %td.right-aligned
                %td.right-aligned
                  %b= dollar_amount(instructor_data.total_fee)
                %td.right-aligned
                  %b= dollar_amount(instructor_data.total_invoiced)
              - instructor_data.courses.each do |course_data|
                %tr
                  %td
                  %td
                    = link_to course_data.course.name_with_day_and_grade_level, course_path(course_data.course)
                  %td.right-aligned
                    = course_data.course.number_of_classes
                  %td.right-aligned
                    = dollar_amount(course_data.course.fee_per_meeting)
                  %td.right-aligned
                    = dollar_amount(course_data.course.fee_for_additional_materials)
                  %td.right-aligned
                    = dollar_amount(course_data.course.total_fee)
                  %td.right-aligned
                    = course_data.num_students
                  %td.right-aligned
                    = course_data.num_scholarships
                  %td.right-aligned
                    = course_data.num_instructor_scholarships
                  %td.right-aligned
                    = course_data.num_billable_students
                  %td.right-aligned
                    = dollar_amount(course_data.total_fee)
                  %td.right-aligned
            %tr
              %td(colspan=12)
                &nbsp;
          %tr
            %td
              %b Grand Total
            %td
            %td
            %td
            %td
            %td
            %td
            %td.right-aligned
              %b= @report.total_scholarships
            %td.right-aligned
              %b= @report.total_instructor_scholarships
            %td
            %td.right-aligned
              %b= dollar_amount(@report.total_fee)
            %td.right-aligned
              %b= dollar_amount(@report.total_invoiced)

- content_for :js do
  :javascript


