!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? "JAS #{@semester ? @semester.name : ""}: " + yield(:title) : "JAS #{@semester.name}"
    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => ""}
    = stylesheet_link_tag "main", :media => "all"
    = stylesheet_link_tag "main-print", :media => "print"
    = javascript_include_tag "main"
    %style{:type => "text/css"}
      = yield(:css)
    = csrf_meta_tags
    = yield(:head)
    :javascript
      $(function() {
        $('a.print-preview').printPreview();
      }
  %body
    = render :partial => 'partial/navbar', :locals => {:semester => @semester}
    %header
      .container
        = render :partial => 'partial/breadcrumb', :locals => {:semester => @semester}
    #main{:role => "main"}
      .container
        .content
          = render 'partial/messages'
          = content_for?(:content) ? yield(:content) : yield
      %footer
    :javascript
      $(function() {
        $('a.print-preview').printPreview();
        $(".data-table").tablesorter();
        $('a.disabled').click(function() { return false; });     
      });
    = yield(:js)
